.mg-top {
  margin-top: 30px;
}

.todo-enter {
  display: flex;
  justify-content: space-between;
}

.list-group-item:hover {
  background-color: #28a745;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
}
.todo-list li span {
  line-height: 38px;
  overflow: hidden;
}

/*.list-group-item span:nth-child(2n) {*/
  /*position: relative;*/
  /*left: 25%;*/
/*}*/

.list-group-item div span {
  margin-right: 10px;
}

.list-group-item input {
  width: 40%;
}

.btn-update {
  margin-right: 5px;
}

.btn-save {
  flex: .5;
}

.hidden {
  display: none;
}