<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <% include ./partials/header.ejs %>


<div class="add-page">
  <div class="form">
    <form id="login-form">
      <input name="name" placeholder="Dish names"/>
      <input name="calories" pattern="^[0-9]+$" placeholder="Calories"/>
      <button type="submit" id="btn-add">Add</button>
    </form>
  </div>
</div>


<% include ./partials/footer.ejs %>
</body>
</html>