<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <% include ./partials/header.ejs %>


<div class="add-page">
  <div class="form">
    <form id="login-form">
      <input type="text" name="dish" pattern="[A-Za-zА-Яа-яЁё]" placeholder="Dish names"/>
      <input type="text" name="calories" pattern="^[ 0-9]+$" placeholder="Calories"/>
      <button id="btn-add">Add</button>
    </form>
  </div>
</div>


<% include ./partials/footer.ejs %>
</body>
</html>